<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/ocLazyLoad/dist/ocLazyLoad.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>


    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css"/>
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet" href="style/iNu.css">
    <link rel="stylesheet" href="style/style.min.css">
    <title title-data></title>
</head>
<body>
<script src="app.js"></script>
<script src="directive/directive.js"></script>
<script src="controller/ChartController.js"></script>
<script src="controller/GridController.js"></script>
<script src="controller/TranslateController.js"></script>
<script src="controller/State1Controller.js"></script>
<script src="controller/DragdropController.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-12">
            <ul class="nav nav-pills">
                <li><a ui-sref="state1"><h4>{{'State1'|translate}}</h4></a></li>
                <li><a ui-sref="state2"><h4>{{'Chart'|translate}}</h4></a></li>
                <li><a ui-sref="state3"><h4>{{'Grid'|translate}}</h4></a></li>
                <li><a ui-sref="state4"><h4>{{'i18n'|translate}}</h4></a></li>
                <li><a ui-sref="state5"><h4>{{'dragdrop'|translate}}</h4></a></li>
            </ul>
        </div>
        <div class="col-lg-11 col-md-11 col-sm-12 view" ui-view></div>
    </div>
    <div data-drag="true" class="dropdown fixed" ng-controller="iNuCtrl as Ctrl">

        <button class="btn-info dropdown-toggle" data-toggle="dropdown">language</button>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" ng-click="Ctrl.changeLanguage('ch')"
                   translate>{{'BUTTON_LANG_CH'}}</a>
            </li>
            <li><a href="javascript:void(0)" ng-click="Ctrl.changeLanguage('en')"
                   translate>{{'BUTTON_LANG_EN'}}</a>
            </li>
        </ul>


    </div>
</div>


</body>
</html>