#div-terms{
    width: 360px;
    height: 360px;
}
.grid {
    width: 100%;
    height: 600px;
    rowHeight:100;
}

.fixed {
    position:absolute;
    top: 0;
    right: 10px;
}
.inline-div{
    display: inline;
}
div>p {
    display: inline;

}
div{
    text-align: left;
}
p.model{
    background: #ccc;
    margin: 10px 0 10px 0;
}
span.highlight {
    color: #F00;
}
.view{
    background: #fff;
    width: 90%;
    height: 100%;
}
.btn-xs{
    margin: 3px 0 3px 3px;
}
.border-radius{
    border-radius:10px
}

.border-radius{
    border-radius:10px
}
.drop-div{
    height: 150px;
    width: 400px;
    overflow: auto;
    position: relative;
}
.drag{
    width: 100%;
}
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}