<div class="col-lg-5">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h3>{{'logicPhrase'|translate}}</h3>

                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-3"><label class="control-label text-center ">關鍵詞: </label><h5
                                class="text-left">(空白隔開)</h5></div>
                        <div class="col-lg-9"><input type="text" class="form-control"/></div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3"><label class="control-label text-center ">匹配語者: </label></div>
                        <div class="col-lg-9">
                            <select class="form-control m-b">
                                <option>All</option>
                                <option>A</option>
                                <option>B</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="radio col-lg-6"><label><input icheck type="radio" name="mention"
                                                                  ng-model=""/>提及任一</label></div>
                        <div class="radio col-lg-6"><label><input icheck type="radio" name="mention" ng-model=""/>提及所有關鍵詞</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox col-lg-5"><label><input icheck="" type="checkbox"
                                                                     ng-model=""/>限定跨詞距離</label>
                        </div>
                        <div class="col-lg-2">
                            <number-picker size="2" number="1"></number-picker>
                        </div>
                        <div class="checkbox col-lg-5"><label><input icheck="" type="checkbox"
                                                                     ng-model=""/>依序出現</label>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="col-lg-12">
                            <div class="col-lg-11">
                                <label class="col-lg-4 btn btn-success" ng-model="test"
                                       btn-radio="'Left'">必須成立</label>
                                <label class="col-lg-4 btn btn-success" ng-model="test"
                                       btn-radio="'Center'">不可成立</label>
                                <label class="col-lg-4 btn btn-success" ng-model="test"
                                       btn-radio="'Right">擇一成立</label>
                            </div>
                            <div class="col-lg-1">
                                <span class="btn btn-success btn-outline">加入</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-lg-12  ">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h3 class="pull-left">{{'reuseModule'|translate}}</h3> <span
                    class="pull-right btn btn-success">更新</span>
                <div class="btn-group scroll ">
                    <label class="col-lg-12 btn  btn-info">覆用模型1</label>
                    <label class="col-lg-12 btn  btn-info">覆用模型2</label>
                    <label class="col-lg-12 btn  btn-info">覆用模型3</label>
                    <label class="col-lg-12 btn  btn-info">覆用模型4</label>
                    <label class="col-lg-12 btn  btn-info">覆用模型5</label>
                </div>
                <div class="btn-group btn-group-justified">
                    <div class="col-lg-12">
                        <div class="col-lg-11">
                            <label class="col-lg-4 btn btn-success" ng-model="test"
                                   btn-radio="'Left'">必須成立</label>
                            <label class="col-lg-4 btn btn-success" ng-model="test"
                                   btn-radio="'Center'">不可成立</label>
                            <label class="col-lg-4 btn btn-success" ng-model="test"
                                   btn-radio="'Right">擇一成立</label>
                        </div>
                        <div class="col-lg-1">
                            <span class="btn btn-success btn-outline">加入</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-5">
    <div class="col-lg-12">


    </div>
    <div class="col-lg-12"></div>
    <div class="col-lg-12"></div>
</div>
<div class="col-lg-2"></div>
