<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4">
            <div class="form-inline" data-drag="true" ng-model="Dragdrop.basicQuery"
                 jqyoui-draggable>
                <div class="input-group">
                    <input id="andQueryText" class="form-control border-radius" placeholder="全部提及"
                           ng-model="Dragdrop.basicQuery.And"/>
                    <span class="input-group-addon primary btn border-radius">Drag</span>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12 bg-success drop-div" data-drop="true"
                     jqyoui-droppable="{onDrop:'Dragdrop.onDrop()'}"
                     ng-model="Dragdrop.mustModel">

                    <span class="pull-left"> Must</span>
                    <button class="btn btn-danger btn-xs btn-rounded pull-right  ">clear all</button>
                    <div class="caption" ng-repeat="must in Dragdrop.mustModel">
                        <div class="btn btn-primary drag border-radius" data-drag="false"
                             ng-show="must.editable||dndDragItem" ng-dblclick="Dragdrop.changeToEdit(must,$event)"
                             ng-model="Dragdrop.mustModel"
                                >{{must.And}}
                        </div>
                        <div class="input-group drag" ng-show="!(must.editable||dndDragItem)">
                            <input type="text" class="form-control border-radius text-center" ng-model="must.And"/>
                            <span class="input-group-btn"><button class="btn btn-primary border-radius">Update</button></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 bg-danger drop-div" data-drop="true" data-jqyoui-options jqyoui-droppable
                     ng-model="Dragdrop.mustNotModel">
                    Must Not
                    <div class="btn btn-primary" data-drag="false" data-jqyoui-options jqyoui-draggable
                         ng-model="Dragdrop.mustNotModel">{{Dragdrop.mustNotModel.And}}
                    </div>
                </div>
                <div class="col-lg-12 bg-warning drop-div" data-drop="true" data-jqyoui-options jqyoui-droppable
                     ng-model="Dragdrop.shouldModel">
                    Should
                    <div class="btn btn-primary" data-drag="false" data-jqyoui-options jqyoui-draggable
                         ng-model="Dragdrop.shouldModel">{{Dragdrop.shouldModel.And}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>